<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap"
  rel="stylesheet"
/>

<div class="">
  <div class="row">
    <div class="col-12 col-sm-3 center">
      <h1>Encuentra el centro de yoga mas cercano</h1>
    </div>
    <div class="col-6 col-sm-7 center2">
      <a>
        <img class="imgCenter" src="../../../assets/images/yogacenter1.jpg" />
      </a>
    </div>
    <div class="col-6 col-sm-1 center2">
      <a class="nav-link" [routerLink]="['/read']" >
        <i class="fa fa-arrow-right arrowicon"></i>
      </a>
    </div>
  </div>
</div>
