.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
 
}
.center2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 50px;
}

.arrowicon{
    color: cadetblue;
}
.imgCenter{
    
    height: 30rem;
    border-style: outset;
}

.icon{
    color: red;
}