<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">

<div class="row">
  <div class="col-3">
    <aside class="aside">
      <p>Encuentra tu centro de yoga mas cercano</p>
      
    </aside>
  </div>

  <!-- Table -->
  <div class="col-7">
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Adress</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Phone</th>
                <th scope="col" class="text-center">Latitude</th>
                <th scope="col" class="text-center">Longitude</th>
                <th scope="col" class="text-center"></th>
                <th scope="col" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let center of centersFound">
                <th scope="row">1</th>
                <td class="text-center fontSize">{{ center.name }}</td>
                <td class="text-center fontSize">{{ center.adress }}</td>
                <td class="text-center fontSize">{{ center.email }}</td>
                <td class="text-center fontSize">{{ center.phone }}</td>
                <td class="text-center fontSize">{{ center.latitude }}</td>
                <td class="text-center fontSize">{{ center.longitude }}</td>
                <td>
                  <button
                    class="btn btn-success"
                    [routerLink]="['/update']"
                    (click)="saveCenter(center)"
                  >
                    Update
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger" (click)="delete(center._id)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Table-->

  <!-- boton -->
  <div class="col-1 botoncontainer">
    <a class="nav-link" [routerLink]="['/create']">
      <i class="fa fa-plus-square add"></i>
    </a>
  </div>

  <!-- boton -->
</div>
