.fontSize {
  font-size: 13px;
 
}
.aside {
  margin-left: 1rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
 
}

.img{
    height: 6rem;
    
}

.botoncontainer{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}