.aside {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.arrowicon {
  height: 6rem;
  margin-left: 3rem;
  margin-bottom: 10rem;
  font-size: 50px;
  color: cadetblue;
}

.updateForm {
  margin-bottom: 5rem;
}
